.bodyPage4{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.titulo{
    text-align: center;
    padding: 1.2em;
    background-color: rgb(130, 161, 218);
    width: 13vw;
    justify-content: center;
    border-radius: 2em;
    transition: all 1s ease;
    box-shadow: 3px 3px 10px 0px #264990 ;
}

.titulo:hover{
    transform: scale(1.1);
}

.imgEBloco{
    display: flex;
    flex-direction: row;
    gap: 10em; 
}

.tituloBandeira{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.imgBandeira{
    border-radius: 1em;
    transition: all 1s ease;
    box-shadow: 3px 3px 10px 0px #264990 ;

}

.imgBandeira:hover {
    transform: scale(1.1);
}

.blocos{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    text-align: center;
}

.blocos h3{
    font-weight: normal;
}

.bloco{
    background-color: rgb(136, 163, 212);
    padding: 2em;
    width: 25vw;
    border-radius: 1.5em;
    box-shadow: 3px 3px 10px 0px #264990 ;
}